.app-body {
    background-image : url('../../../assets//img/pokert.jpg');
    background-size: cover;
}
.card {
    background: rgba(255, 255, 255, 0.7098039215686275);
}
.text-muted {
    color: #060606 !important;
}
#btn-login{
    width: 100%;
}