<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-square btn-primary float-right" [routerLink]="['/colaboradores/cadastrar-colaborador']">Cadastrar
                                Colaborador</button>
                        </div>
                    </div> -->
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Agente</th>
                                <th>Orçamento</th>
                                <th>Comissão Acum.</th>
                                <th>Aposta Total Recebido</th>
                                <th>Prêmio Total Pago</th>
                                <th>Status Carteira</th>
                                <th>Data Ult. Atualização</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let balance of balances">
                                <td>{{balance.wallet.agent.name}}</td>
                                <td>{{balance.budget | currency:'BRL': true : '1.2-2'}}</td>
                                <td>{{balance.totalCommissionAmount | currency:'BRL': true : '1.2-2'}}</td>
                                <td>{{balance.totalAmountReceived | currency:'BRL': true : '1.2-2'}}</td>
                                <td>{{balance.totalAmountPaid | currency:'BRL': true : '1.2-2'}}</td>
                                <td>{{balance.wallet.status.description}}</td>
                                <td>{{balance.lastDateUpdate}}</td>
                                <td>
                                    <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
                                        <a class="btn" [routerLink]="['/carteira/listar-transacoes', balance.id]" ><i class="icon-magnifier" title="Listar Transações"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>