.icon{
    z-index: 1;
}
img{
    height: 75px;
    width: 75px;
}
.msg-body{
    margin-left: -57px;
    background: white;
    height: 59px;
    margin-top: 9px;
    border: solid 2px;
    border-left: none;
    border-radius: 4px;
}
.msg-text{
    margin-left: 32px;
}