<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr style="text-align: center">
                                <th>BETWIN ID</th>
                                <th>ODD</th>
                                <th>R$ Apostado</th>
                                <th>% Comissão</th>
                                <th>R$ Comissão</th>
                                <th>R$ Prêmio</th>
                                <th>Agente</th>
                                <th>Cliente</th>
                                <th>Criado em</th>
                                <th>Atualizado em</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aposta of apostas" style="text-align: center">
                                <td>{{aposta.hashId}}</td>
                                <td>{{aposta.totalOdd | number}}</td>
                                <td>{{aposta.betValue | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.commissionPercent | percent: '1.2-2'}}</td>
                                <td>{{aposta.commissionValue | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.profit | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.customer.agent.name}}</td>
                                <td>{{aposta.customer.user.name}}</td>
                                <td>{{aposta.createdDate}}</td>
                                <td>{{aposta.updatedDate}}</td>
                                <td *ngIf="aposta.status.id == 0">
                                    <span class="badge badge-warning">{{aposta.status.description}}</span>
                                </td>
                                <td *ngIf="aposta.status.id == 1">
                                    <span class="badge badge-primary">{{aposta.status.description}}</span>
                                </td>
                                <td *ngIf="aposta.status.id == 2">
                                    <span class="badge badge-secondary">{{aposta.status.description}}</span>
                                </td>
                                <td *ngIf="aposta.status.id == 3">
                                    <span class="badge badge-success">{{aposta.status.description}}</span>
                                </td>
                                <td *ngIf="aposta.status.id == 4">
                                    <span class="badge badge-danger">{{aposta.status.description}}</span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button *ngIf="showButtonRegisterBet(aposta.status.id)" class="btn btn-sm btn-primary" (click) = "doBet(aposta.id)" >Registrar</button>
                                        <button *ngIf="showButtonRegisterBet(aposta.status.id)" class="btn btn-sm btn-danger" (click) = "cancelBet(aposta.id)" >Cancelar</button>
                                        <button class="btn btn-sm btn-warning" (click) = "navigateDetailBet(aposta.id)">Detalhar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>