<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <tr style="text-align: center">
                                <th>BETWIN ID</th>
                                <th>ODD</th>
                                <th>R$ Apostado</th>
                                <th>% Comissão</th>
                                <th>R$ Comissão</th>
                                <th>R$ Prêmio</th>
                                <th>Agente</th>
                                <th>Cliente</th>
                                <th>Criado em</th>
                                <th>Atualizado em</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aposta of apostas" style="text-align: center">
                                <td>{{aposta.hashId}}</td>
                                <td>{{aposta.totalOdd | number}}</td>
                                <td>{{aposta.betValue | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.commissionPercent | percent: '1.2-2'}}</td>
                                <td>{{aposta.commissionValue | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.profit | currency:'BRL': true : '1.2-2'}}
                                <td>{{aposta.customer.agent.name}}</td>
                                <td>{{aposta.customer.user.name}}</td>
                                <td>{{aposta.createdDate}}</td>
                                <td>{{aposta.updatedDate}}</td>
                                <td *ngIf="aposta.status == 0">
                                    <span class="badge badge-warning">PENDENTE</span>
                                </td>
                                <td *ngIf="aposta.status == 1">
                                    <span class="badge badge-primary">REGISTRADA</span>
                                </td>
                                <td *ngIf="aposta.status == 2">
                                    <span class="badge badge-secondary">CANCELADA</span>
                                </td>
                                <td *ngIf="aposta.status == 3">
                                    <span class="badge badge-success">VENCIDA</span>
                                </td>
                                <td *ngIf="aposta.status == 4">
                                    <span class="badge badge-danger">PERDIDA</span>
                                </td>
                                <td>
                                    <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
                                        <a class="btn" ><i class="icon-control-play" title="Efetuar Aposta" (click) = "doBet(aposta.id)"></i></a>
                                        <a class="btn" [routerLink]="['/apostas/detalhar-aposta', aposta.id]" ><i class="icon-settings" title="Ajustar Aposta"></i></a>
                                        <!-- <a class="btn" [routerLink]="['/apostas/detalhar-aposta', aposta.id]"><i class="icon-control-play"
                                                title="Efetuar Aposta"></i></a> -->
                                        <a class="btn" href="#"><i class="icon-ban" title="Cancelar Aposta"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>