<div class="col-md-3 col-sm-8" id="ticket">
    <div class="title">
        <span>FAST BET</span>
    </div>
    <hr>
    <div class="col-md-12" id="ticket-body">
        <div class="ticket-body-title">Fast bet NO <span class="ticket-chip">29220</span></div>
        <div id="divisor"></div>
        <div class="ticket-events">
            <div class="event-title">
                <span>220 21120 mm Inglaterra - Championship</span>
            </div>
            <div class="event-result">
                <span>Inglaterra - Championship</span>
            </div>
            <div class="event-title">
                <span>220 21120 mm Inglaterra - Championship</span>
            </div>
            <div class="event-result">
                <span>Inglaterra - Championship</span>
            </div>
        </div>
        <div id="ticket-details">
            <div>
                <span>Stake:</span>
                <span class="span-details-align">600</span>
                <hr class="hr-ticket-body">
            </div>
            <div id="payin">
                <span>Payin:</span>
                <span class="span-details-align">600</span>
            </div>
            <div>
                <span>Total Odd:</span>
                <span class="span-details-align">600</span>
            </div>
            <div>
                <span>Max Payout:</span>
                <span class="span-details-align">600</span>
            </div>
            <div>
                <span>Combinations:</span>
                <span class="span-details-align">600</span>
            </div>
            <br />
            <hr class="hr-ticket-body">
            <div id="datetime">
                <span>30-03-2017 15:30:46</span>
            </div>
            <div align="center">
                <div class="ticket-body-title">Fast bet NO <span class="ticket-chip">29220</span></div>
                <p>Eu sou um ser humano eu preciso falar,Eu sou um ser humano eu preciso falar,Eu sou um ser humano eu
                    preciso falar</p>
            </div>
        </div>
    </div>
    <br />
    <div align="center">
        <div class="ticket-fast"><strong>FAST BE No </strong> <span style="color: red; font-weight: bold">29220</span></div>
    </div>
    <hr>

    IMPRIMIR
</div>