<div class="col-md-4 col-sm-8" id="ticket">
    <div class="title">
        <span>FAST BET</span>
    </div>
    <hr>
    <div class="col-md-12" id="ticket-body">
        <div class="ticket-body-title">Fast bet NO <span class="ticket-chip">{{tickets.id}}</span></div>
        <div id="divisor"></div>
        <div *ngFor="let event of tickets.events" class="ticket-events">
            <div class="event-title">
                <span>{{event.competition}} {{event.eventDescription}}</span>
            </div>
            <div class="event-result">
                <span>{{event.marketDescription}}</span><span class="span-details-align">{{event.odd}}</span>
            </div>
        </div>
        <div id="ticket-details">
            <div>
                <span>Stake:</span>
                <span class="span-details-align">600</span>
                <hr class="hr-ticket-body">
            </div>
            <div id="payin">
                <span>Payin:</span>
                <span class="span-details-align">600</span>
            </div>
            <div>
                <span>Total Odd:</span>
                <span class="span-details-align">{{tickets.totalOdd}}</span>
            </div>
            <div>
                <span>Max Payout:</span>
                <span class="span-details-align">{{tickets.expectedValueDiscountCommission}}</span>
            </div>
            <div>
                <span>Combinations:</span>
                <span class="span-details-align">600</span>
            </div>
            <br />
            <hr class="hr-ticket-body">
            <div id="datetime">
                <span>{{tickets.createdDate}}</span>
            </div>
            <div align="center">
                <div class="ticket-body-title">Fast bet NO <span class="ticket-chip">{{tickets.id}}</span></div>
                <p>Eu sou um ser humano eu preciso falar,Eu sou um ser humano eu preciso falar,Eu sou um ser humano eu
                    preciso falar</p>
            </div>
        </div>
    </div>
    <br />
    <div align="center">
        <div class="ticket-fast"><strong>FAST BE No </strong> <span style="color: red; font-weight: bold">{{tickets.id}}</span></div>
    </div>
    <hr>
    <div>
        <a id="print" (click)="donwloadPDF()">IMPRIMIR</a>
    </div>
    <br/>
</div>