<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Apostas &amp; Valores
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div id="apostadores" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="value"><strong class="h4">35</strong></div>
                    <div class="description">Apostadores</div>
                  </div>
                </div>
                <div id="efetivadas" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-star"></i></div>
                    <div class="value"><strong class="h4">40</strong></div>
                    <div class="description">Apostas Efetivadas</div>
                  </div>
                </div>
                <div id="apostado" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-credit-card"></i></div>
                    <div class="value"><strong class="h4">R$ 70350,13</strong></div>
                    <div class="description">Valor Apostado</div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
            
              <div class="row">
                <div id="vencidas" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-calendar"></i></div>
                    <div class="value"><strong class="h4">15</strong></div>
                    <div class="description">Apostas Vencidas</div>
                  </div>
                </div>
                <div id="vlapostado" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-chart"></i></div>
                    <div class="value"><strong class="h4">R$ 10350,43</strong></div>
                    <div class="description">Valor Apostado</div>
                  </div>
                </div>
                <!--/.col-->
                <div id="vlapostado1" class="crd col-sm-3">
                  <div align="center">
                    <div class="icon"><i class="icon-calculator"></i></div>
                    <div class="value"><strong class="h4">R$ 1035.04</strong></div>
                    <div class="description">Comissão Total</div>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>