.icon{
    font-size: 25px;
    margin-top: 10px;
}
#apostadores{
    background-color: #20a8d8;
    border-color: #187da0;
}
#efetivadas{
    background-color: #63c2de;
    border-color: #2eadd3;
}
#apostado{
    background-color:#f86c6b;
    border-color: #f5302e;
}
#vencidas{
    background-color: #ffc107;
    border-color: #c69500;
}
#vlapostado{
    background-color: #2dd327;
    border-color: #469703;
}
#vlapostado1{
    background-color: #d111d1;
    border-color: #750480;
}
.crd {
    color:  white;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 2%;
}